<div class="footer__innner">
    <div class="navbar">
        <div class="email">
            <div class="email__wrap-icon">
                <img
                    src="./assets/icon/email-icon.png"
                    alt="email icon"
                    class="email__icon"
                />
            </div>
            <a href="maito:hi@arif.interactive" class="email__link d-lg-none">
                hi@arif.interactive
            </a>
        </div>
        <a href="/">
            <picture>
                <source
                    media="(max-width: 767.98px)"
                    srcset="./assets/icon/logo-small.svg"
                />
                <img
                    src="./assets/icon/logo.svg"
                    alt="hi@arif.interactive"
                    class="logo"
                />
            </picture>
        </a>
        <nav class="nav d-md-none">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#!" class="nav__link">Projects</a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link">Journey</a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link">Service</a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link">Contact</a>
                </li>
            </ul>
        </nav>
        <button class="navbar__more d-none d-md-flex">
            <img
                src="./assets/icon/menu-icon.svg"
                alt=""
                class="navbar__more-icon"
            />
        </button>
    </div>

    <!-- footer bottom -->
    <div class="footer__bottom">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <p class="footer__copyright">
                        ©interactiveArif 2021. All rights reserved.
                    </p>
                </div>
                <div class="col-4 offset-4">
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Privacy Policy</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link"
                                >Terms of Conditions</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
