<div class="header__inner">
    <div class="navbar">
        <div class="email">
            <div class="email__wrap-icon">
                <img
                    src="./assets/icon/email-icon.png"
                    alt="email icon"
                    class="email__icon"
                />
            </div>
            <a href="maito:hi@arif.interactive" class="email__link d-lg-none">
                hi@arif.interactive
            </a>
        </div>
        <a href="/">
            <picture>
                <source
                    media="(max-width: 767.98px)"
                    srcset="./assets/icon/logo-small.svg"
                />
                <img
                    src="./assets/icon/logo.svg"
                    alt="hi@arif.interactive"
                    class="logo"
                />
            </picture>
        </a>
        <nav class="nav d-md-none">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#!" class="nav__link">Projects</a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link">Journey</a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link">Service</a>
                </li>
                <li class="nav__item">
                    <a href="#!" class="nav__link">Contact</a>
                </li>
            </ul>
        </nav>
        <button class="navbar__more d-none d-md-flex">
            <img
                src="./assets/icon/menu-icon.svg"
                alt=""
                class="navbar__more-icon"
            />
        </button>
    </div>

    <div class="hero">
        <div class="container">
            <div class="row hero__row">
                <div class="col-5 col-md-12">
                    <img
                        src="./assets/img/hero/hero-img.png"
                        alt=""
                        class="hero__img"
                    />
                </div>
                <div class="col col-6 col-lg-7 col-md-12 offset-1 offset-lg-0">
                    <div class="hero__content">
                        <h1 class="heading">An Interactive Designer</h1>
                        <p class="section__desc hero__desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. In urna, non nisl tincidunt ut elementum
                            turpis.
                        </p>
                        <div class="hero__cta">
                            <a href="#!" class="btn btn--primary"
                                >Book a Call</a
                            >
                            <a href="#!" class="btn btn--text">My Works</a>
                        </div>
                        <div class="social">
                            <p class="social__desc">Follow me on:</p>
                            <div class="social__list">
                                <a href="#!" class="social__link">
                                    <img
                                        src="./assets/icon/social-icon-1.svg"
                                        alt=""
                                    />
                                </a>
                                <a href="#!" class="social__link">
                                    <img
                                        src="./assets/icon/social-icon-2.svg"
                                        alt=""
                                    />
                                </a>
                                <a href="#!" class="social__link">
                                    <img
                                        src="./assets/icon/social-icon-3.svg"
                                        alt=""
                                    />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
